<div class="">
<div class="w-2/3 mx-auto flex items-center justify-center">
  <h1 class="text-2xl font-bold text-red-400 mb-10">Angular Material + Tailwindcss</h1>
</div>
<mat-form-field class="" appearance="outline">
  <mat-label>First Name</mat-label>
  <input matInput placeholder="First name" value="John">
</mat-form-field>
<div class="flex flex-col mx-5 py-5  w-40">
  <button mat-raised-button color="primary" style="margin-bottom: 1em">Material Button</button>
  <button class="mb-8" mat-raised-button color="secondary" >Material Button</button>
  <button mat-raised-button color="warn">Material Button</button>
</div>
<div class="flex flex-col mx-5 py-5  w-40">
  <button class="bg-indigo-700 text-white rounded-sm px-6 py-2 ">Material Button</button>
  <button class="bg-cyan-500 text-white rounded-sm px-6 py-2 my-2" >Material Button</button>
  <button class="bg-red-600 text-white rounded-sm px-6 py-2 shadow-md hover:shadow-inner hover: shadow-slate-500">Material Button</button>
</div>

</div>